*{
  margin: 0;
  padding: 0;
  border: border-box;
  /* overflow: hidden; */
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
section{
  overflow: hidden;
  width: 100vw;
}

header{
  
  height: 745px;
  width:100%;
  background-image: url("istefull.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* background-position: center; */
    /* background-position-x: center;
    background-position-y: center; */
  background-size:cover;
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
/* .header img{
  width: 99.005vw;
} */

.navbar{
  /* overflow: hidden; */
  height:100px;
  width: 90%;
  /* width: 100vw; */
  margin: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  position:sticky;
  top: 0px;
  /*background-color: red; */
}

.logo{
  font-family: 'Baloo Paaji',cursive;
  font-size: 30px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.827);
  font-weight: bold;
  width: 150px;
  margin-left: 40px;
  
}

.option a{
  font-family: 'Baloo Paaji',cursive;
  font-size: 16px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.827);
  font-weight:bold;
}

 .option{
  width: 60%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4px;
 }

 .intro{
  width: 35%;
  height: 80%;
  margin-top: 80px;
 }

 .hi{
  font-size: 65.64px;
  /* margin-top: 100px; */
  margin-bottom: 5px;
  font-family: 'Baloo Paaji',cursive;
  color: #444444;
  font-weight: bold;
 }
 .name{
  font-size: 83.46px;
  
  /* margin-bottom: 5px; */
  font-family: 'Baloo Paaji', cursive;
  color: #212529;
  font-weight:bolder;
 }
 .profession{
  color: #3a3636d7;
  font-size: 24px;
  font-family: "Open Sans",sans-serif;
  margin-bottom: 20px;
  font-weight:lighter;
 }

 .visit{
  background-color: #695AA6;
  margin-top: 20px;
  padding: 8px 15px;
  color: #ffffff;
  font-size: 19px;
  border-radius: 19px;
  border: none;
 }

 .visit:hover{
  background-color: #5d4f95;
 }

 .about{
  /* height: 400px; */
  /* width: 100vw; */
  padding:70px 190px;
  display: flex;
  /* overflow: hidden; */
 }
 .about_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  /* row-gap: 20px; */
  /* margin: 50px 5px; */
 }
 #who{
  color: rgb(105, 104, 104);
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: lighter;
 }
 .about_content h2{
  color: #695AA6;
  font-size: 38px;
  font-family: "Baloo Paaji" ,cursive;
  margin-bottom: 16px;
 }
 #lorem{
  /* color: #111111; */
  font-size: 15.4px;
  font-family: "Open Sans",sans-serif;
  margin-bottom:16px ;
 }
 #download{
  width: 125px;
  height: 38px;
  margin-top: 24px;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 16px;
  color: #695AA6;
  border:1px solid #695AA6;
  background-color:white ;
 }

 #download:hover{
  background-color: #7767b5;
  color: white;
 }

 .service{
  /* height: 383px; */
  /* width: 100vw; */
  /* overflow: hidden; */
  padding: 70px 10px;
  margin: 0px 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 #sp,.portfolio p,.pricing p,.contact p{
  height: 23px;
  margin-bottom: 6px;
  font-size: 15.37px;
  color: gray;
 }

 .service h6,.portfolio h6,.pricing h6,.contact h6{
  color: #695AA6;
  font-size: 37.82px;
  font-family: "Baloo Paaji",cursive;
  margin-bottom: 64px;
  font-weight: bolder;
 }
 .service_card{
  /* background-color: antiquewhite; */
  height: 230px;
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  row-gap: 10px;
  
 }
 .box h6{
  font-size:21px;
  margin-bottom: 8px;
 }
 .box p{
  text-align: center;
  color: gray;
  opacity: 0;
 }

 #para1:hover{
  opacity: 1;
 }
 #para2:hover{
  opacity: 1;
 }
 #box3 p:hover{
  opacity: 1;
 }
 #box4 p:hover{
  opacity: 1;
 }

 .box{
  border: 0.1px solid rgba(128, 128, 128, 0.321);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 255px;
  /* padding: 0px 15px; */
  margin: 0px 15px;
 }

  .portfolio,.pricing,.contact{
  /* height: 383px; */
  padding: 70px 10px;
  margin: 0px 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .img_container{
  /* height: 450px; */
  display: flex;
 }

 .img_container img{
  height: 350px;
  width: 380px;
  
  padding: 0px 15px;
  /* border-radius: 200px; */
  
 }
 .img1,.img2,.img3{
  /* border-radius: 50px; */
  position:relative;
 }

 .img_back1,.img_back2,.img_back3{
  width: 380px;
  height: 350px;
  margin: 0px 15px;
  /* border-radius: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:absolute ;
  top: 0px;
  background-color: #bbb4d0d2;
  opacity: 0;
  transition: 0.6s;
 }

 .img_back1:hover,.img_back2:hover,.img_back3:hover{
  opacity: 1;
 }

 .img_container h6{
  font-size: 27px;
  margin-bottom: 10px;
 }

 .pricing_card{
  display: flex;
  justify-content: center;
 }
 .card1,.card2,.card3{
  padding: 30px 15px;
  height: 516px;
  width: 370px;
  border: 0.05px solid #80808052;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .card1 h6,.card2 h6, .card3 h6{
  margin-bottom:15px ;
 }
  
 .card1 p,.card2 p, .card3 p{
  margin-bottom:12px;
  font-size: 15.376px;
  font-family: "Open Sans",sans-serif;
  color: #11111188;
 }

 .card1 i,.card2 i{
  margin-bottom:12px ;
  font-size: 20px;
  color: pink;
 }

 .price{
  height: 57px;
  margin: 15px 0px;
  font-family:"Open Sans",sans-serif ;
  color: #212529bd;
  font-weight:550;
  
 }

 .magnitude{
  height: 52px;
  font-size: 38px;
 }

 .doller{
  height: 37;
  font-size: 26.88px;
 }

 .card3 button,.card1 button,.card2 button{
  height: 38px;
  margin-top:16px ;
  padding: 6px 12px;
  font-size: 16px;
  font-family: "Open Sans",sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: #695AA6;
 }

 .card1 button:hover,.card2 button:hover,.card3 button:hover{
  background-color: #5d4f95;
 }

 .card1:hover{
  position: relative;
  bottom: 5px;
 }
 .card2:hover{
  position: relative;
  bottom: 5px;
 }
 .card3:hover{
  position: relative;
  bottom: 5px;
 }

 .hire{
  background-color: #695AA6;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
 }
 .hire_content h6{
  color: #F8F9FA;
  font-size: 21px;
  font-family: "Baloo Paaji",cursive;
  margin-bottom: 8px;
 }
 .hire p{
  height: 23px;
  color: #F8F9FA;
  font-size: 15.376px;
  font-family: "Open Sans",sans-serif;
 }

 .but{
  width:   230px;
  display: flex;
  align-items: center;
 }

 .but button{
  height: 47.6px;
  background-color: #F8F9FA;
  color: #212529;
  padding: 8px 16px;
  border: none;
  border-radius:5px ;
  font-size: 30px;
  font-family: "Baloo Paaji",cursive;
 }

 .but button:hover{
  background-color: rgb(226, 224, 228);
 }

 .contact_form{
  width: 800px;
  padding: 0px 15px;
  margin: 0px 185px;
  display: flex;
  flex-wrap: wrap;
 }
 .yourname,.email{
  height: 38px;
  width: 395.3px;
  /* padding: 0px 0px; */
  margin-bottom: 16px;
  display: flex;
  
 }
 
 .namebox{
  height: 33px;
  width: 365px;
  padding: 0px 12px;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border: 0.01px solid gray;
 }

 #comment{
  width: 96%;
  padding: 6px 12px;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border: .01px solid gray;
  
 }
 .message{
  height: 37.6px;
  width: 784px;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
 }

 .message button{
  padding: 6px 12px;
  font-size: 16px;
  font-family: "Open Sans",sans-serif;
  background-color: #F8F9FA;
  border-radius: 5px;
  color: #695AA6;
  border: 0.1px solid #695AA6;
 }

 .message button:hover{
  background-color: #695AA6;
  color: white;
 }

 .footer_container{
  /* padding: 0px 15px; */
  margin: 0px 166.4px;
  border-top: 1px solid rgba(128, 128, 128, 0.518);
  display: flex;
 }
 .copyright p{
  width: 490px;
  padding: 30px 0px;
  font-size: 16px;
  color: #393E46;
 }
 .copyright{
  width: 50%;
 }
 
 .socialMedia{
  /* width: 590px; */
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
 }
 .facebook,.twitter,.pinterest,.google,.instagram,.rss{
  width: 40px;
  height: 40px;
  margin: 2px;
  border: 2px solid gray;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(109, 108, 108);
 }
 .facebook:hover,.rss:hover,.instagram:hover,.pinterest:hover,.google:hover,.twitter:hover{
  background-color: #695AA6;
  color: white;
  border-color: #695AA6;
 }

 
